/* #region body */
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #endregion body */

/* #region Header  */

.container-header {
  display: flex;
  align-items: center;
}
.header-top-line {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.nav-header {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.top-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-right: 76px;
  padding: 24px 0;
}
.top-studio {
  color: #2e2f42;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-studio {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-studio:hover,
.menu-studio:focus {
  color: #404bbf;
}
.menu-studio:active {
  color: #404bbf;
  text-decoration: underline;
}
.menu-studio.current {
  position: relative;
  color: #404bbf;
}
.menu-studio.current::after {
  content: "";
  border-radius: 2px;
  width: 100%px;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  background-color: #404bbf;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.address-item {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

/* #endregion Header  */

/* #region  Effective Solutions for Your Business */
.container-solut {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.title-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.effective-solutions {
  max-width: 1440px;
  padding: 188px 0;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.button-solutions {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background: #4d5ae5;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-solutions:hover,
.button-solutions:focus {
  background: #404bbf;
}

/* #endregion  Effective Solutions for Your Business */

/* #region  Advantage  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.advantage-item {
  width: calc((100% - 72px) / 4);
}
.icon-advantage {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  max-width: 264px;
  background: #f4f4fd;
  margin-bottom: 8px;
  position: relative;
}
.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantage-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion  Advantage  */

/* #region  Our Team  */

.container-team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  padding: 32px 0;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-prof {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.icon-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}
.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  fill: #404bbf;
  background-color: #404bbf;
}
.team-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.icon-item {
  fill: #f4f4fd;
}

/* #endregion  Our Team  */

/* #region Our Portfolio */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-div {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 300ms ease;
}

.portfolio-curtain-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-curtain-text {
  transform: translateY(0%);
}

.portfolio-div:hover .portfolio-img {
  transform: scale(1.05);
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: left;
}

.portfolio-products {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-products-text {
  font-size: 16px;
  color: #434455;
}

/* #endregion Section 4   Our Portfolio */

/* #region Footer */

.section-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  max-width: 264px;
  margin-right: 120px;
}
.top-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  gap: 16px;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-icon-list {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  fill: #31d0aa;
  background-color: #31d0aa;
}
.footer-icon-item {
  fill: #f4f4fd;
}
/* #endregion Footer */

/* #region visually-hidden */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;

  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-field {
}
.form-label {
}
.input-wrapper {
}
.form-input {
}
.form-icon {
} */
/* #endregion visually-hidden */
